@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply bg-neutral-950 text-white;
}

nav{
    @apply bg-slate-800 py-6 px-5;
}

main{
    @apply container mx-auto py-6 px-4;
}

label{ 
    @apply block mt-3 mb-1 uppercase text-sm font-semibold text-slate-500;
}

span{
    @apply block text-sm text-red-400;
}

input{
    @apply py-2 px-2 mb-2 rounded-md w-80 md:w-96 text-slate-700 bg-slate-300;
}


#btn-form{
    @apply bg-blue-500 py-3 px-4 rounded-md uppercase text-sm font-semibold mt-5 w-full hover:bg-slate-700 hover:text-blue-600 hover:transition-all;
}